<div class="container mb-3 colorAzulEscom">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand colorAzulEscom" href="#">
                <img src="/assets/lista.png" width="30"> Administracion de productos
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">
                            <i class="fa-solid fa-house-user"></i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/listadoCategorias" href="#">
                            <i class="fa-solid fa-clipboard-list"></i> Categorías
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/listadoProductos">
                            <i class="fa-solid fa-box-open"></i> Productos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>